<h2 style="justify-content: center;justify-items: auto">
  <%= link_to "Профиль",profile_path, :class => 'link' %>
  <%= link_to "Сотрудники", admin_path, :class => 'link' %>
  <%= link_to "Все букеты", bouquets_path, :class => 'link' %>
  <%= link_to "Новый Букет", new_bouquet_path, :class => 'link' %>

</h2>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Время создания</th>

    <th>Продан?</th>
    <th>На витрине?</th>
    <th>Показать</th>
  </tr>
  </thead>
  <tbody>
  <% @bouquet.each do |bouquet| %>
    <tr>
      <td>

        <%= bouquet.id %>
      </td>
      <td>
        <%= bouquet.created_at %>
      </td>
      <td>
        <% if bouquet.sold == false %>
          <span style="color: darkslategray">
            Еще не продан
          </span>
        <% else %>
        <span style="color: green">
            Продан
          </span>
        <% end %>
      </td>
      <td>
        <% if bouquet.vitrine == false   %>
          <span style="color: darkslategray">
            Нет
          </span>
        <% else %>
        <span style="color: green">
          На витрине
          <%if bouquet.sold == false %>
          <%= link_to 'Продать', { controller: :bouquets, action: :sold }, :class => 'link' %>
            <%end %>
          </span>
        <% end %>
      </td>
      <td>
        <%= link_to "Показать ", bouquet_path(bouquet), :class => 'link' %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>