<h2 style="justify-content: center;justify-items: auto">
  <%= link_to "Профиль", profile_path, :class => 'link' %>
  <%= link_to "Сотрудники", admin_path, :class => 'link' %>
  <%= link_to "Все букеты", bouquets_path, :class => 'link' %>
  <%= link_to "Новый Букет", new_bouquet_path, :class => 'link' %>

</h2>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Время создания</th>
    <th>Название</th>
    <th>Цена</th>
    <th>Продать</th>
    <th>Показать</th>
  </tr>
  </thead>
  <tbody>
  <% @bouquet.each do |bouquet| %>
    <tr>
      <td>
        <%= bouquet.id %>
      </td>
      <td>
        <%= bouquet.created_at %>
      </td>
      <td>
        <%= bouquet.name %>
      </td>
      <td>
        <%= bouquet.price %>
        р
      </td>
      <td>
        <% if bouquet.vitrine == false %>
        <% else %>
          <% if bouquet.sold == false %>
            <%= link_to 'Продать', { controller: :bouquets, action: :sold }, :class => 'link' %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to "Показать ", bouquet_path(bouquet), :class => 'link' %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>