<h2 style="justify-content: center;justify-items: auto">
  <%= link_to "Профиль",profile_path, :class => 'link' %>
  <%= link_to "Сотрудники", admin_path, :class => 'link' %>
  <%= link_to "Букеты на витрине",vitrine_path , :class => 'link' %>
  <%= link_to "Новый Букет", new_bouquet_path, :class => 'link' %>

</h2>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Время создания</th>
    <th>Адрес заказчика</th>
    <th>Цена</th>
    <th>Продан?</th>
    <th>На витрине?</th>
    <th>Показать</th>
    <th>Удалить</th>
  </tr>
  </thead>
  <tbody>
  <% @bouquet.each do |bouquet| %>
    <tr>
      <td>

        <%= bouquet.id %>
      </td>
      <td>
        <%= bouquet.created_at %>
      </td>
      <td>
        <%= bouquet.address %>
      </td>
      <td>
        <%= bouquet.price %>
        р
      </td>
      <td>
        <% if bouquet.sold == false %>
          <span style="color: darkslategray">
            Еще не продан
          </span>
        <% else %>
        <span style="color: green">
            Продан
          </span>
        <% end %>
      </td>
      <td>
        <% if bouquet.vitrine == false   %>
          <span style="color: darkslategray">
            Нет
          </span>
        <% else %>
        <span style="color: green">
          Да
          </span>
        <% end %>
      </td>
      <td>
        <%= link_to "Показать", bouquet_path(bouquet), :class => 'link' %>
      </td>
      <td>
        <% if bouquet.sold == false %>
          <%= button_to 'Удалить ', bouquet_path(bouquet), :method => :delete,onclick: "return confirmDestroy('Вы уверены?')", :class => 'link_negative' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<script>
    function confirmDestroy(message) {
        if (!confirm(message)) {
            return false;
        }
    }
</script>