<h2 style="justify-content: center;justify-items: auto">
  <%= link_to "Профиль",profile_path, :class => 'link' %>
  <%= link_to "Сотрудники", admin_path, :class => 'link' %>
  <%= link_to "Новый Букет", new_bouquet_path, :class => 'link' %>

</h2>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Время создания</th>
    <th>Имя заказчика</th>
    <th>Адрес заказчика</th>
    <th>Номер телефона</th>
    <th>Продан?</th>
    <th>Показать</th>
    <th>Удалить</th>
  </tr>
  </thead>
  <tbody>
  <% @bouquet.each do |bouquet| %>
    <tr>
      <td>

        <%= bouquet.id %>
      </td>
      <td>
        <%= bouquet.created_at %>
      </td>
      <td>

        <%= bouquet.name %>
      </td>
      <td>

        <%= bouquet.address %>
      </td>
      <td>

        <%= bouquet.number %>
      </td>
      <td>
        <% if bouquet.sold == false %>
          <span style="color: darkslategray">
            Not sold
          </span>
        <% else %>
        <span style="color: green">
            Sold
          </span>
        <% end %>
      </td>
      <td>
        <%= link_to "show", bouquet_path(bouquet), :class => 'link' %>
      </td>
      <td>
        <% if bouquet.sold == false %>
          <%= button_to 'Destroy', bouquet_path(bouquet), :method => :delete, data: { confirm: 'are u sure?' }, :class => 'link_negative' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>