<div class="form">
  <h1> Новый сотрудник</h1>
  <%= form_for @bouquet, controller: 'bouquets', action: 'create' do |f| %>
    <div class="form_items">
      <%= f.label :Имя %>
      <%= f.text_field :name %>

      <%= f.label :Адрес %>
      <%= f.text_field :address %>

      <%= f.label :Телефон %>
      <%= f.text_field :number %>

      <span>
      <%= f.submit "Создать", :class => 'link' %>
        <%= link_to "Отмена", bouquets_path, :class => 'link_negative' %>
    </span>
    </div>

  <% end %>
</div>