<%= link_to 'Go back', bouquets_path, :class => 'link' %>
<div>
  current bouquet
</div>
<span>
  address:
  <%= @bouquet.address %>
</span>
<span>
  number:
  <%= @bouquet.number %>
</span>
<% if @bouquet.sold == false %>
  <span style="color: red;">
  is sold:
    <%= @bouquet.sold %>
</span>
<% else %>
  <span style="color: green;">
  is sold:
    <%= @bouquet.sold %>
</span>
<% end %>
<span>
  id:
  <%= @bouquet.id %>
</span>
<div>
  shop id:
  <%= @bouquet.shop_id %>
</div>

<div>
  full price is:
  <%= @price %>
  roubles
</div>
<% if @bouquet.sold == false %>
  <%= link_to 'sold', { controller: :bouquets, action: :sold }, :class => 'link' %>
<% end %>
<% if @bouquet.sold == false %>
  <%= link_to 'remove all', { controller: :bouquets, action: :remove_all }, :class => 'link' %>
  <%= link_to 'save', "/save/" + @bouquet.id.to_s, { controller: :bouquets, action: :save, :class => 'link' } %>
<% else %>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th> Цветок</th>
    <th> Цена</th>
    <th> Количество</th>
    <% if @bouquet.sold == false %>
    <th> Добавить</th>
    <th> Удалить</th>
      <%end %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @bouquet.flowers.each do |flower| %>
    <tr>
      <td>
        <%= flower.name %>
      </td>
      <td>
        <%= flower.price %>
      </td>
      <td style="justify-content: center">
        <% if @bouquet.sold == false %>
          <%= link_to '-', "/minus/" + flower.id.to_s, { controller: :bouquets, action: :minus, :class => 'link' } %>

          <%= @counters.find_by(flower_id: flower.id, bouquet_id: $current_bouquet.id).counter %>

          <%= link_to '+', "/plus/" + flower.id.to_s, { controller: :bouquets, action: :plus, :class => 'link' } %>
        <% else %>
          <%= @counters.find_by(flower_id: flower.id, bouquet_id: $current_bouquet.id).counter %>
        <% end %>
      </td>
      <% if @bouquet.sold == false %>
        <td>
          Available:
          <%= flower.num - @counters.find_by(flower_id: flower.id, bouquet_id: $current_bouquet.id).counter %>
        </td>
        <td>
          <%= link_to 'remove', "/remove/" + flower.id.to_s, { controller: :bouquets, action: :remove, :class => 'link_negative' } %>
        </td>
      <% else %>

      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @bouquet.sold == false %>
  <h3>
    Find flower
  </h3>
  <%= form_tag bouquet_path, :method => "get" do %>
    <%= label_tag(:search, "What flower would you like to add: ") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :name => nil, :class => 'link') %>
  <% end %>
  <table class="table">
    <thead>
    <tr>
      <th> Цветок</th>
      <th> Цена</th>
      <th> Количество на складе</th>
      <th> Добавить</th>
    </tr>
    </thead>
    <tbody>
    <% @finder.each do |flower| %>
      <tr>
        <td>
          <%= flower.name %>
        </td>
        <td>
          <%= flower.price %>
        </td>
        <td>
          <%= flower.num %>
        </td>
        <td>
          <%= link_to 'add', "/add/" + flower.id.to_s, { controller: :bouquets, action: :add_in_bouquet, :class => 'link' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
