
<h2>
  <%= link_to 'Ко всем букетам', bouquets_path, :class => 'link' %>
  <%= link_to 'К витрине', vitrine_path, :class => 'link' %>
</h2>

<div>
  Адрес:
  <%= @bouquet.address %>
</div>
<div>
  Название/имя:
  <%= @bouquet.name %>
</div>
<div>
  Номер телефона:
  <%= @bouquet.number %>
</div>
<% if @bouquet.sold == false %>
  <span style="color: red;">
    Еще не продан
</span>
<% else %>
  <span style="color: green;">
  Продан

</span>
<% end %>
<span>
  id:
  <%= @bouquet.id %>
</span>
<div>
  ID точки:
  <%= @bouquet.shop_id %>
</div>
<span>
  Букет на витрине?:
  <% if @bouquet.vitrine == false %>
  нет
  <% else %>
  <span style="color: green">
    да
  </span>
  <% end %>
</span>
<div>
  Стоимость букета:
  <%= @price %>
  рублей
</div>

<h2>
  <% if @bouquet.sold == false %>
    <%= link_to 'Продать', { controller: :bouquets, action: :sold }, :class => 'link' %>
  <% end %>
  <% if @bouquet.sold == false && @bouquet.vitrine == false %>
    <%= link_to 'На витрину', "/save/" + @bouquet.id.to_s, { controller: :bouquets, action: :save, :class => 'link' } %>
    <%= link_to 'Удалить все', { controller: :bouquets, action: :remove_all }, :class => 'link_negative',onclick: "return confirmDestroy('Вы уверены?')"%>
  <% else %>
  <% end %>
</h2>
<table class="table">
  <thead>
  <tr>
    <th> Цветок</th>
    <th> Цена</th>
    <th> Количество</th>
    <% if @bouquet.sold == false && @bouquet.vitrine == false %>
      <th> Доступно</th>
      <th> Удалить</th>
    <% end %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @bouquet.flowers.each do |flower| %>
    <tr>
      <td>
        <%= flower.name %>
      </td>
      <td>
        <%= flower.price %>
      </td>
      <td style="justify-content: center">
        <div style="justify-content: space-between">
          <% if @bouquet.sold == false && @bouquet.vitrine == false %>
            <%= link_to '-', "/minus/" + flower.id.to_s, { controller: :bouquets, action: :minus, :class => 'button' } %>

            <%= @counters.find_by(flower_id: flower.id, bouquet_id: $current_bouquet.id).counter %>

            <%= link_to '+', "/plus/" + flower.id.to_s, { controller: :bouquets, action: :plus, :class => 'button' } %>
          <% else %>
            <%= @counters.find_by(flower_id: flower.id, bouquet_id: $current_bouquet.id).counter %>
          <% end %>
        </div>
      </td>
      <% if @bouquet.sold == false && @bouquet.vitrine == false %>
        <td>
          <%= flower.num - @counters.find_by(flower_id: flower.id, bouquet_id: $current_bouquet.id).counter %>
        </td>
        <td>
          <%= link_to 'Удалить из букета', "/remove/" + flower.id.to_s, { controller: :bouquets, action: :remove, remote: true, :class => 'link_negative' } %>
        </td>
      <% else %>

      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @bouquet.sold == false && @bouquet.vitrine == false %>
  <%= form_tag bouquet_path, :method => "get" do %>
    <%= label_tag(:search, "Какую срезку хотите добавить?: ") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Искать", :name => nil, :class => 'link') %>
  <% end %>
  <table class="table">
    <thead>
    <tr>
      <th> Цветок</th>
      <th> Цена</th>
      <th> Количество на складе</th>
      <th> Добавить</th>
    </tr>
    </thead>
    <tbody>
    <% @finder.each do |flower| %>
      <tr>
        <td>
          <%= flower.name %>
        </td>
        <td>
          <%= flower.price %>
        </td>
        <td>
          <%= flower.num %>
        </td>
        <td>
          <%= link_to 'Добавить в букет', "/add/" + flower.id.to_s, { controller: :bouquets, action: :add_in_bouquet, :class => 'link', } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<script>
    function confirmDestroy(message) {
        if (!confirm(message)) {
            return false;
        }
    }
</script>