<h2>
  <%= link_to "Профиль",profile_path, :class => 'link' %>
  <%= link_to "Букеты",bouquets_path, :class => 'link' %>
</h2>

<span>
  Уровень доступа:
  <%= @current_user.role.access %>
</span>
<div>
  ID точки: <%=@current_user.shop_point %>
</div>
<h2>Сотрудники <%= link_to 'Создать нового сотрудника', new_user_path(@user), :class => 'link' %></h2>

<table class="table">
  <thead>
  <tr>
    <th> Должность</th>
    <th> Имя</th>
    <th> Фамилия</th>
    <th> Показать</th>
    <th> Редактировать</th>
    <th> Удалить</th>

  </tr>
  </thead>
  <tbody>
  <% @user.each do |user| %>
    <tr>
      <td>
        <%= user.role.position %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.surname %>
      </td>
      <td>
        <%= link_to 'Показать', "/employee/" + user.id.to_s,{ controller: :users, action: :employee ,:class => 'link'}  %>
      </td>
      <td>
        <%= link_to 'Редактировать', edit_user_path(user), :class => 'link' %>
      </td>
      <td>
        <% if @current_user != user %>
        <%= button_to 'Удалить сотрудника', user, :method=> :delete, data:{confirm: 'are u sure?'}, :class => 'link_negative' %>
          <% else %>

          <% end %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>
