<div class="form">
  <h1> Новый сотрудник</h1>
  <%= form_for @user, controller: 'users', action: 'update' do |f| %>
    <div class="form_items">
      <%= f.label :Имя %>
      <%= f.text_field :name %>

      <%= f.label :Фамилия %>
      <%= f.text_field :surname %>

      <%= f.label :Логин %>
      <%= f.text_field :login %>

      <%= f.label :Почта %>
      <%= f.text_field :email %>

      <%= f.label :Пароль %>
      <%= f.text_field :password %>
      <span>
      <%= f.submit "Создать", :class => 'link' %>
        <%= link_to "Отмена", admin_path, :class => 'link_negative' %>
    </span>
    </div>

  <% end %>
</div>