<div class="form">
  <h1> Новый сотрудник</h1>
  <%= form_for @user, controller: 'users', action: 'create' do |f| %>
    <div class="form_items">
      <%= f.label :Имя %>
      <%= f.text_field :name %>

      <%= f.label :Фамилия %>
      <%= f.text_field :surname %>

      <%= f.label :Логин %>
      <%= f.text_field :login %>

      <%= f.label :Почта %>
      <%= f.text_field :email %>

      <%= f.label :Должность %>
      <% if @current_user.role.access == 1 %>
        <%= f.select :role_id, [["Главный администратор", "1"], ["Управляющий", "2"], ["Флорист", "3"]] %>
      <% else %>
        <%= f.select :role_id, [["Управляющий", "2"], ["Флорист", "3"]] %>
      <% end %>

      <%= f.label :Пароль %>
      <%= f.password_field :password %>

      <%= f.label :Потверждение %>
      <%= f.password_field :password_confirmation %>
    <span>
      <%= f.submit "Создать", :class => 'link' %>
      <%= link_to "Отмена", admin_path, :class => 'link_negative' %>
    </span>
    </div>

  <% end %>
</div>